body {
    font-family: 'Lato', sans-serif !important;
    background-color: white;
}
.ho-specialists {
    padding: 80px 0 90px;
    background: linear-gradient(to left, #3497d9, #02d9de);
}



#header-navbar {
    position: fixed;
    width: 100%;
    background-color: #ccccff;
    height: 50px;
    min-height: 50px;
    font-family: "lato", sans-serif;
    z-index: 10;
    padding: 6px 25px;
    box-shadow: 2px 1px 9px -2px rgba(115, 114, 115, 0.55);
}
.banner-layer {
    background: linear-gradient(to left, rgba(52, 151, 217, 0.7), rgba(2, 217, 222, 0.9));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
